@import url("https://fonts.googleapis.com/css2?family=Acme&family=PT+Sans+Caption&family=Righteous&display=swap");

body {
  margin: 0;
  padding: 0;
}
ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 100%;
  background-color: white;
  box-shadow: 10px 50px 120px;
  position: fixed;
  text-transform: uppercase;
  text-align: center;
  line-height: 5em;
}

li a {
  display: block;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  font-family: "Acme", sans-serif;
  font-family: "PT Sans Caption", sans-serif;
}
li a:hover {
  color: red;
  background-color: black;
  transition: 0.3s ease-in;
}

.info-area {
  background-image: url(https://cdn.pixabay.com/photo/2012/05/29/00/43/car-49278_960_720.jpg);
  width: auto;
  height: auto;
  margin-left: 25%;
  padding: 10px 10px;
  font-family: "Righteous", cursive;
  background-size: contain;
  background-repeat: no-repeat;
  color: red;
}
.info-area p {
  color: black;
}
.containt-area {
  padding: 60vh 10vh 10vh;
}

.button {
  padding: 15px;
  text-align: center;
  contain: "";
  line-height: 0.5em;
  color: white;
  background-color: black;
  font-size: 15px;
  transition: all 0.2s ease;
  border: none;
}
.button:hover {
  padding: 15px;
  text-align: center;
  contain: "";
  line-height: 0.5em;
  color: red;
  background-color: white;
  transition: all 0.2s ease;
  font-size: 15px;
  border: 1px solid red;
}

.brand {
  padding-top: 20px;
  width: 100px;
  height: auto;
}

.icons {
  font-size: 20px;
  color: black;
}
.location-icon {
  margin: 10px;
  box-shadow: 10px 5px 30px;
  border-radius: 30px;
}
