@import url("https://fonts.googleapis.com/css2?family=Acme&family=PT+Sans+Caption&family=Righteous&display=swap");

body {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 100%;
  background-color: #0d0e13;
  position: fixed;
  text-transform: uppercase;
  text-align: center;
  line-height: 5em;
}

li a {
  display: block;
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
  font-family: "Acme", sans-serif;
  font-family: "PT Sans Caption", sans-serif;
}
li a:hover {
  color: blue;
  background-color: white;
  transition: 0.3s ease-in;
}

.info-area {
  background-image: url(https://images.unsplash.com/photo-1580654712603-eb43273aff33?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  height: auto;
  margin-left: 25%;
  padding: 1px 16px;
  font-family: "Righteous", cursive;
  background-size: cover;
  background-repeat: no-repeat;
}
.containt-area {
  padding: 10vh 10vh 65vh;
  color: blue;
}
.containt-area p {
  color: white;
}
.button {
  padding: 15px;
  text-align: center;
  contain: "";
  line-height: 0.5em;
  color: white;
  background-color: blue;
  font-size: 15px;
  transition: all 0.2s ease;
  border: none;
}
.button:hover {
  padding: 15px;
  text-align: center;
  contain: "";
  line-height: 0.5em;
  color: #bd0435;
  background-color: white;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
  border: none;
}

.brand {
  padding-top: 20px;
  width: 100px;
  height: auto;
}

.icons {
  font-size: 25px;
  color: #fff;
  font-weight: 500;
}

.location-icon {
  margin: 10px;

  border-radius: 30px;
}
